# Jupyter checkpoint notebook
experiment/**.ipynb_checkpoints**

# MD trajectory and checkpoint data
experiment/**.nc**
experiment/**.chk**

# Espaloma net model
experiment/**.pt**

# Maestro project
experiment/**.prj**

# Log files
experiment/**.log**
experiment/**stdout**
experiment/**stderr**

# Arhived/debug directory
experiment/*.archived
experiment/debug

# Obsolete data
experiment/**obsolete**